div.chart-donut{clear:none;float:left;margin-left:30px;width:450px;
  div.tools{background:none;border:none;margin:0px;
    div.holder-template {margin-left:0px;
      ul.items{
        li.chart span.text{background-position:0px 5px;}
        li.selected.chart span.text{background-position:0px -45px;}
      }
    }
    div.holder-export-xls{margin-right:0px;}
  }

  div.templates{float:left;
    div.chart{display:block;height:340px;padding:20px 80px 0px 80px;width:450px;
      svg{
        path.slice-1{fill:#10c7df;}
        path.slice-2{fill:#ffcc00;}
        path.slice-3{fill:#c1e443;}
        path.slice-4{fill:#fd41cd;}
        path.slice-5{fill:#11aec6;}
        path.slice-6{fill:#e09200;}
        path.slice-7{fill:#84d200;}
        path.slice-8{fill:#f2a1e7;}

        text{cursor:default;}
        .hole{
          .label{fill:#000;font-size:14px;font-weight:bold;}
          .text0{fill:#999;font-size:12px;text-transform:uppercase;}
        }
      }

      div.tooltip{background-color:#fff;border:1px solid #ddd;border-radius:8;box-shadow:0px 5px 6px -6px #333;color:#000;display:none;height:auto;padding:10px 20px;position:absolute;visibility:visible;width:auto;z-index:100;}
    }
  }
}
